@using Entities.Models
@using Entities.ViewModels;
@{
    var ClientStatus = (List<AllCode>)ViewBag.ClientStatus;
    var Status = ViewBag.Status;
}
<style>
    .white-popup {
        max-width: 600px !important;
    }
</style>
<div class="container">
    <div class="">
        <div class="grid  gap10 mb20">
            <div class="grid-item border">
                <form id="CustomerManager_Detail_Status" onsubmit="return false">
                    <div class="col-md-6 mb10"><label class="lbl mt5 mb0">Trạng thái </label></div>
                    <div class="col-md-12 mb10">
                        <select class="select2 form-control" name="" id="Client_Status" style="width: 100%;">
                            @if (ViewBag.Type == 1)
                            {
                                <option value="99" selected>Phản hồi khách hàng</option>
                            }
                            else
                            {
                                @foreach (var item2 in ClientStatus)
                                {
                                    if (item2.CodeValue == Status)
                                    {
                                        <option value="@item2.CodeValue" selected>@item2.Description</option>
                                    }
                                    else
                                    {
                                        <option value="@item2.CodeValue">@item2.Description</option>
                                    }

                                }
                            }

                        </select>
                    </div>

                    <div class="col-md-6 mb10"><label class="lbl mt5 mb0">Mô tả <sup class="red">*</sup></label></div>
                    <div class="col-md-12 mb10">
                        <textarea id="Client_Note" style="min-height:130px;" name="Client_Note"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
    <button type="submit" class="btn btn-default btn btn-default cancel" onclick="$.magnificPopup.close();">Bỏ qua</button>
    <button type="submit" class="btn btn-default" onclick="_customer_manager_Detail.UpdateClientStatus('@ViewBag.ClientId')" style="background: #5cb566 !important;">Đồng ý</button>
</div>

