@using Entities.ViewModels
@using Entities.ViewModels.DebtGuarantee
@using Utilities
@using Utilities.Contants
@model GenericViewModel<DebtGuaranteeViewModel>
@if (Model == null || Model.ListData == null || Model.ListData.Count == 0)
{
    <div class="search-null center mb40">
        <div class="mb24">
            <img src="/images/graphics/icon-search.png" alt="">
        </div>
        <h2 class="title txt_24">Không tìm thấy kết quả</h2>
        <div class="gray">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
    </div>
}
else
{
    <div class="table-responsive table-default table-gray">
        <table class="table table-nowrap">
            <thead>
                <tr>
                    <th style="width: 30px;">STT</th>
                    <th style="width: 100px;">Mã bảo lãnh</th>
                    <th>Mã đơn hàng</th>
                    <th>Ngày bắt đầu - kết thúc</th>
                    <th>Tên khách hàng</th>
                    <th>Nhãn đơn</th>
                    <th>thanh toán</th>
                    <th>Lợi nhuận</th>
                    <th>Ngày tạo</th>
                    <th>Sale phụ trách</th>
                    <th>Trạng thái</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.ListData != null && Model.ListData.Count > 0)
                {

                    var counter = (Model.CurrentPage - 1) * Model.PageSize;
                    foreach (var item in Model.ListData)
                    {
                        counter++;
                        <tr>
                            <td class="center">@counter</td>
                            <td class="center"><a class="blue" href="/DebtGuarantee/Detail/@item.Id">@item.Code</a></td>
                            <td class="center">  <a class="blue" href="/Order/@item.OrderId">@item.OrderNo</a></td>
                            <td class="center ">@item.StartDate.ToString("dd/MM/yyyy") - @item.EndDate.ToString("dd/MM/yyyy")</td>
                            <td>  <a class="blue" href="/CustomerManager/Detail/@item.ClientId">@item.ClientName</a></td>
                            <td>@item.Label</td>
                            <td class="text-right">
                                <div class="green">@item.Payment.ToString("#,##0")/</div>
                                <div class="red">@(item.Amount == 0 ? "0" : item.Amount.ToString("#,##"))</div>
                            </td>
                            <td>@item.Profit</td>
                            <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.UserCreateName</td>
                            <td>
                                @switch (item.Status)
                                {
                                    case (int)(DebtGuaranteeStatus.CHO_TN_DUYET):
                                    case (int)(DebtGuaranteeStatus.CHO_TP_DUYET):
                                        {
                                            <span class="status-oranger">@item.StatusName</span>
                                        }
                                        break;
                                    case (int)(DebtGuaranteeStatus.TN_DUYET):
                                    case (int)(DebtGuaranteeStatus.TP_DUYET):
                                    case (int)(DebtGuaranteeStatus.HOAN_THANH):
                                        {
                                            <span class="status-green">@item.StatusName</span>
                                        }
                                        break;

                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @await Component.InvokeAsync("PagingNew", new
        {
            pageModel = new Paging()
            {

                TotalRecord = Model.TotalRecord,
                TotalPage = Model.TotalPage,
                CurrentPage = Model.CurrentPage,
                PageSize = Model.PageSize,
                RecordName = "đơn hàng",
                PageAction = "_debt_guarantee.OnPaging({0})",
                PageSelectPageSize = "_debt_guarantee.onSelectPageSize()"

            }
        })
}