@using Entities.ViewModels
@model GenericViewModel<Entities.ViewModels.Tour.TourPackagesOptionalModel>
@if (Model != null && Model.ListData != null && Model.ListData.Count > 0)
{
    <div class="table-responsive table-default table-gray">
        <table class="table table-nowrap ">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Mã dịch vụ</th>
                    <th class="text-center">Loại dịch vụ</th>

                    <th class="text-center">Số lượng </th>
                    <th class="text-center">Số lần</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Thành tiền</th>
                    <th class="text-center">Ngày tạo </th>

                </tr>
            </thead>
            <tbody>
                @{var counter = (Model.CurrentPage - 1) * Model.PageSize; }
                @foreach (var item in Model.ListData)
                {
                    counter++;
                    <tr>
                        <td class="text-center">@counter</td>
                        <td class="text-center blue"> <a  class="blue" href="/SetService/Tour/Detail/@item.ServiceId">@item.PackageName</a></td>
                        <td class="text-center">@item.PackageTypeName</td>
                        <td class="text-center">@item.Quantity</td>
                        <td class="text-center">@item.Times</td>
                        <td class="text-center">
                            @if (item.Status == 1)
                            {
                                <p style="width:100% !important">Hủy</p>
                            }
                            else
                            {
                                <p style="width:100% !important">Sử dụng</p>
                            }
                        </td>
                        <td class="text-left"> <p style="width:100% !important"> @item.Amount.ToString("N0")</p></td>
                        <td class="text-center">@(((DateTime)item.CreatedDate).ToString("dd/MM/yyyy"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @await Component.InvokeAsync("Paging", new
{
    pageModel = new Paging()
    {
        TotalRecord = Model.TotalRecord,
        TotalPage = Model.TotalPage,
        CurrentPage = Model.CurrentPage,
        PageSize = Model.PageSize,
        RecordName = "kết quả lọc",
        PageAction = "_supplier_order.TourPaging({0})"
    }
})
}
else
{

    <div class="search-null center mt40 mb40 text-center" bis_skin_checked="1">
        <div class="mb24" bis_skin_checked="1">
            <img src="/images/graphics/icon-search.png" alt="">
        </div>
        <h2 class="title txt_24">Không tìm thấy kết quả</h2>
        <div class="gray" bis_skin_checked="1">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
    </div>

}