@using Entities.ViewModels
@model GenericViewModel<HotelRoomFundModel>

<div class="table-responsive bg_white">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 50px;">STT</th>
                <th>Nhà cung cấp</th>
                <th>Khách sạn</th>
                <th>Tổng số phòng</th>
                <th>Tổng số phòng đã đặt</th>
                <th>Tổng số phòng còn lại</th>
                <th>Người tạo</th>
                <th>Ngày tạo</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListData != null && Model.ListData.Count > 0)
            {
                int stt = (Model.CurrentPage - 1) * Model.PageSize;
                foreach (var item in Model.ListData)
                {
                    stt++;
                    <tr>
                        <td>@stt</td>
                        <td>@item.SupplierName</td>
                        <td>@item.HotelName</td>
                        <td>@(((decimal)item.TotalRooms).ToString("N0"))</td>
                        <td>@item.TotalBookedRooms.ToString("N0")</td>
                        <td>@item.NumberOfRoomsAvailable.ToString("N0")</td>
                        <td>@item.CreateName</td>
                        <td>@item.CreateDate?.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>
                            <a class="btn btn-sm btn-info" href="/HotelRoomFund/Detail/@item.Id"><i class="fa fa-eye"></i> Xem</a>
                            @if(ViewBag.Edit==1){
                                <a class="btn btn-sm btn-primary" onclick="hotelRoomFund.AddOrUpdate(@item.Id)"><i class="fa fa-edit"></i> Sửa</a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

     @await Component.InvokeAsync("PagingNew", new
    {

            pageModel = new Paging()
            {
                TotalRecord = Model.TotalRecord,
                TotalPage = Model.TotalPage,
                CurrentPage = Model.CurrentPage,
                PageSize = Model.PageSize,
                RecordName = "Quỹ phòng khách sạn",
                PageAction = "_hotelRoomFund.ClientOnPaging({0})",
                PageSelectPageSize = "_hotelRoomFund.onSelectPageSize()"
            }
        })
    </div>
